<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>My Review</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script>
		const login = (e) => {
			const value = sessionStorage.getItem('login');
			if (value == 1) {
				e.preventDefault();
				Swal.fire({
					type: "info",
					title: "ログイン",
					text: "ログイン中です",
					confirmButtonColor: '#3CB371',
				})
			} else {
				window.location.href = e.target.href;
			}
		}
		const logout = (e) => {
			const value = sessionStorage.getItem('login');
			if (value == 1) {
				e.preventDefault();
				Swal.fire({
					type: "question",
					title: "ログアウト",
					text: "ログアウトしますか？",
					confirmButtonColor: '#3CB371',
					showCancelButton: true
				}).then(function (result) {
					if (result.value) {
						sessionStorage.removeItem('login');
						window.location.href = e.target.href;
					}

				});
			} else {
				e.preventDefault();
				Swal.fire({
					type: "info",
					title: "ログイン",
					text: "ログインしてください",
					confirmButtonColor: '#3CB371',
				}).then(function (result) {
					if (result.value) {
						window.location.href = e.target.href;
					}

				});
			}

		}
		const reviewClick = (e) => {
			document.getElementById('hiddenInput').innerHTML = '';
			let count = 0;
			for (let i = 1; i <= 5; i++) {
				let elColored = document.getElementById('r' + i);
				let color = window.getComputedStyle(elColored, '').color;
				if (color == "rgb(248, 198, 1)") {
					count++;
				}
			}
			let element1 = document.createElement('input');
			element1.id = "element1";
			element1.type = "hidden";
			element1.name = "reviewNum";
			element1.value = count;
			document.getElementById('hiddenInput').append(element1);
			let open = document.getElementById('flexSwitchCheckDefault');
			let element2 = document.createElement('input');
			element2.type = "hidden";
			element2.name = "open";
			element2.id = "element2";
			if (open.checked) {
				element2.value = 1;
			} else {
				element2.value = 0;
			}
			document.getElementById('hiddenInput').append(element2);
		}
		const categoryClick = (category) => {
			document.getElementById('inputCategory').value = category;
		}


	</script>

</head>

<body>
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" th:href="@{/index}">My Review</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/index}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/review}">Review</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/mypage}">MyPage</a></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" th:href="@{/user}" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							User
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/account}">Account</a>
							<a class="dropdown-item" th:href="@{/likes}">Likes</a>
							<a class="dropdown-item" th:href="@{/follows}">Follows</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/login}" onclick="login(event)">Login</a>
							<a class="dropdown-item" th:href="@{/logout}" onclick="logout(event)">Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Header-->
	<h2 class="titleheader">Update</h2>
	<!-- Section-->
	<div class="reviewContainer">
		<th:block th:each="target:${targetReview}">
			<br>
			<form th:action="@{/update}" method="POST" name="form1" id="form1" enctype="multipart/form-data">
				<input type="hidden" th:value="${target.ReviewID}" name="reviewId">
				<div class="col-sm-7" style="text-align: right;">
					<a th:href="@{/mypage}" style="color: black;font-size: 140%;">Mypage</a>
				</div>
				<br>
				<div class="col-sm-7">
					<label for="title"><b><span style="color: red;">*</span>タイトル：</b></label>
					<input type="text" placeholder="タイトルを入力…" name="title" class="form-control"
						th:value="${target.Title}" maxlength="32" required>
				</div>
				<br>
				<label for="genre"><b><span style="color: red;">*</span>ジャンル：</b></label>
				<div class="col-sm-7">
					<div class="input-group mb-3">
						<input type="text" placeholder="カテゴリーを入力…" name="category" class="form-control"
							aria-label="Text input with dropdown button" id="inputCategory"
							th:value="${target.Category}" maxlength="255" required>
						<button class="btn btn-outline-secondary dropdown-toggle" type="button"
							data-bs-toggle="dropdown" aria-expanded="false">選択</button>
						<ul class="dropdown-menu dropdown-menu-end">
							<th:block th:each="category:${categoryList}">
								<li><a class="dropdown-item" th:text="${category.Category}"
										th:onclick="|categoryClick('__${category.Category}__')|"></a></li>
							</th:block>


						</ul>
					</div>
				</div>
				<br>
				<div class="col-sm-7">
					<label for="exampleFormControlTextarea1" class="form-label"><b><span
								style="color: red;">*</span>コメント：</b></label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"
						placeholder="コメントを入力…" style="resize: none;" th:text="${target.Comment}" maxlength="255" required></textarea>
				</div>
				<br>
				<label class="form-label"><b>レビュー数：</b></label>
				<div class="stars col-sm-7">
					<span>
						<input id="review01" type="radio" name="review"><label for="review01" id="r1">★</label>
						<input id="review02" type="radio" name="review"><label for="review02" id="r2">★</label>
						<input id="review03" type="radio" name="review"><label for="review03" id="r3">★</label>
						<input id="review04" type="radio" name="review"><label for="review04" id="r4">★</label>
						<input id="review05" type="radio" name="review"><label for="review05" id="r5">★</label>
					</span>
				</div>
				<br>
				<div class="col-sm-7">
					<label for="formFileMultiple" class="form-label"><b><span
								style="color: red;">*</span>画像：</b></label><br>
					<label for="icon-image" id="iconlabel">画像を設定</label>
					<br>
					<input type="file" name="image" id="icon-image" required>
					<br>
					<span class="select-image" id="unset">設定されていません</span><br>
					<img id="iconimg" class="mainimg">
				</div>
				<br>
				<label><b>公開：</b></label>
				<div class="form-check form-switch">
					<th:block th:if="${target.Open == true}">
						<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
							checked>
					</th:block>
					<th:block th:if="${target.Open == false}">
						<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
					</th:block>
					<label class="form-check-label" for="flexSwitchCheckDefault"></label>
				</div>
				<br>
				<div id="hiddenInput"></div>
				<div>
					<input type="submit" class="btn btn-primary" onclick="reviewClick(event);" value="編集">
				</div>
			</form>
		</th:block>
	</div>

	<!-- Footer-->
	<footer class="py-4 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
		</div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script th:src="@{/js/scripts.js}"></script>
</body>

</html>